# vim:ft=ansible:
#===============================================================================
#
# Filebeat configuration for forwarding to Logz.io
#
#-------------------------------------------------------------------------------
# {{ ansible_managed }}
#===============================================================================


#-------------------------------------------------------------------------------
#
# Filebeat
#
#-------------------------------------------------------------------------------

filebeat:
  spool_size: 1024
  idle_timeout: 5s
  registry_file: /var/lib/logzio/registry

  prospectors:

{% for log in logzio_all_logs %}
    - document_type: {{ log.type }}
      paths: 
        {{ log.paths | to_nice_yaml | indent(8) }}
      fields:
        logzio_codec:  {{ log.codec }}
        token: {{ logzio_token }}
      fields_under_root: true
      {% if logzio_ignore_older %}
      ignore_older: {{ logzio_ignore_older }}
      {% endif %}

{% endfor %}



#-------------------------------------------------------------------------------
#
# Output
#
#-------------------------------------------------------------------------------

output:
  logstash:
    # The Logstash hosts
    hosts: ["listener.logz.io:5015"]
    tls:
      # List of root certificates for HTTPS server verifications
      certificate_authorities: ["/etc/pki/tls/certs/COMODORSADomainValidationSecureServerCA.crt"]


#-------------------------------------------------------------------------------
#
# Logging
#
#-------------------------------------------------------------------------------

logging:
  to_syslog: false
  to_files: true
  files:
    path: /var/log/filebeat
    name: log
    rotateeverybytes: 10485760 # = 10MB
    keepfiles: 5
  level: "{{ logzio_daemon_log_level }}"

