# vim:ft=ansible:
#===============================================================================
#
# Topbeat Configuration
#
#-------------------------------------------------------------------------------
# {{ ansible_managed }}
#===============================================================================



#-------------------------------------------------------------------------------
#
# Input
#
#-------------------------------------------------------------------------------

input:
  period: {{ logzio_topbeat_period }}
  procs: [".*"]
  stats:
    system: true
    process: true
    filesystem: true
    cpu_per_core: false


#-------------------------------------------------------------------------------
#
# Output
#
#-------------------------------------------------------------------------------

output:
  file:
    path: "/var/run/topbeat"
    filename: topbeat
    rotate_every_kb: 10000
    number_of_files: 5


#-------------------------------------------------------------------------------
#
# Logging
#
#-------------------------------------------------------------------------------

logging:
  to_syslog: false
  to_files: true
  files:
    path: /var/log/topbeat
    name: topbeat
    rotateeverybytes: 10485760 # = 10MB
    keepfiles: 5
  level: warning


