# vim:ft=ansible:
#===============================================================================
#
# Topbeat configuration for forwarding to Logz.io via Filebeat
#
#-------------------------------------------------------------------------------
# {{ ansible_managed }}
#===============================================================================



#-------------------------------------------------------------------------------
#
# Input
#
#-------------------------------------------------------------------------------

input:
  period: {{ logzio_topbeat_period }}
  procs: [".*"]
  stats:
    system: "{{ logzio_topbeat_system }}"
    process: "{{ logzio_topbeat_process }}"
    filesystem: "{{ logzio_topbeat_filesystem }}"
    cpu_per_core: "{{ logzio_topbeat_cpu_per_core }}"


#-------------------------------------------------------------------------------
#
# Output
#
#-------------------------------------------------------------------------------

output:
  file:
    path: "/var/log/topbeat"
    filename: topbeat
    rotate_every_kb: 10000
    number_of_files: 5


#-------------------------------------------------------------------------------
#
# Logging
#
#-------------------------------------------------------------------------------

logging:
  to_syslog: false
  to_files: true
  files:
    path: /var/log/topbeat
    name: log
    rotateeverybytes: 10485760 # = 10MB
    keepfiles: 5
  level: "{{ logzio_daemon_log_level }}"

